@page "/counter"
@inject BlazorProvaDipendenze.Data.IScopedServie _scopedService;

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>Service - @_scopedService.ServiceId</li>
        </ul>
    </div>
</div>
