@page "/"
@inject BlazorProvaDipendenze.Data.IScopedServie _scopedService;

<h1>Blazor Service Lifetimes</h1>

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>Service - @_scopedService.ServiceId</li>
        </ul>
    </div>
</div>